.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared style */

.dark1 {
  color: #0D1321;
}

.page-heading {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.para-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 32px;
}

.para-text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 30px;
}

.wd-para-text {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  margin: auto 30px;
}

.learn-more {
  margin: 32px;
  margin-top: auto;
  background-color: #f7f5f5;
  padding: 5px;
  border-radius: 5px;
}

.section.style {
  background-color: #0D1321;
}

/* Nav styles */
nav {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin: 100px;
  margin-top: 20px;
}

.nav-tittle {
  font-weight: 800;
  font-size: 20px;
}

nav ul {
  display: flex
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}


/* Banner style */

.banner {
  display: flexbox;
  background-image: url('../assets/Hero-bg.png');
  background-position: 100%;
}

.banner-profile-picture {
  width: 173px;
  margin: 2% 45% 1% 45%;
}

.banner-heading {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

.banner-description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.contact-button {
  font-size: 20px;
  font-weight: 500;
  background-color: black;
  color:
    white;
  border-radius: 10px;
  padding: 24px 21px 24px 21px;
  text-align: center;
  margin: 10px 10px 20px 10px;
}

/* para style */
.para {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  background: linear-gradient(#f7f5f5);
  max-width: 946px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 32px;
}


/* image style */
.image {
  margin: auto;
}

/* main style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 110px;
}

/* section style */

.web-dev {
  border: radius 10px;
  ;
  padding: 80px 97px;
  margin-top: 100px;

  background-color: #f7f5f5;
}

/* skills style */
.skills-container {
  display: flex;
  gap: 24px;

  display: flexbox;
}

.skill {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 6px 50px 0px rgb(230, 230, 228);
}

.skill-html {
  background-color: #ff4b1e20;
}

.skill-css {
  background-color: #004CE820;
}

.skill-js {
  background-color: #FFDF0020;
}

.newskill {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 6px 50px 0px #d8d7d7;
  margin-top: 20px;
  box
}

.input {
  width: 400px;
  height: 25px;
}

.submit-style {
  width: 100px;
  height: 32px;
}

.button-position {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.background {
  background-image: url('../assets/handshake.jpg');
  margin-bottom: 100px;
  padding: 80px;
  background-position: center;
  border-radius: 10px;
}

.color {
  color: #ffffff;
}